<div class="center jumbotron">
	<h1>Bienvenido a la App de Prueba</h1>
	<%= link_to "Registrate!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>
