<% provide(:title, 'Log In') %>

<h1>Ingresar</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:session, url: login_path) do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email, class: 'form-control' %>

			<%= f.label :password %>
			<%= link_to "(Olvidé Contraseña)", new_password_reset_path %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :remember_me, class: "checkbox inline" do %>
				<%= f.check_box :remember_me %>
				<span>Recordarme en este dispositivo.</span>
			<% end %>

			<%= f.submit "Ingresar", class: "btn btn-primary" %>

		<% end %>

		<p>Nuevo usuario? <%= link_to "Registrate!", signup_path %></p>
	</div>
</div>