<% provide(:title, 'Editar información') %>

<h1>Editar perfil</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @user do |f| %>

			<%= render	'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>

			<%= f.submit "Guardar cambios", class: "btn btn-primary" %>

		<% end %>
		<div class="gravatar_edit">
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails" target=_blank>cambiar</a>
   		</div>
	</div>
</div>