<li id="micropost-<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span class="content">
		<%= micropost.content %>
		<%= image_tag micropost.picture.url if micropost.picture? %>
	</span>
	<span class="timestamp">
		Escrito hace <%= time_ago_in_words(micropost.created_at) %>
		<% if current_user?(micropost.user) %>
			<%= link_to "borrar", micropost, method: :delete, data: { confirm: "Seguro?"} %>
		<% end %>
	</span>
</li>