<footer class="footer">
	<nav>
		<ul>
			<li><%= link_to "Sobre", about_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
			<li><a href="http://news.railstutorial.org/">Noticias</a></li>
		</ul>
	</nav>
</footer>