<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "app de prueba", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Inicio", root_path %></li>
				<li><%= link_to "Ayuda", help_path %></li>
				<% if logged_in? %>
					<li><%= link_to "Usuarios", users_path %></li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">
							Cuenta <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Perfil", current_user %></li>
							<li><%= link_to "Opciones", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "Salir", logout_path, method: "delete" %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "Ingresar", login_path %></li>
				<% end %>	
			</ul>
		</nav>
	</div>
</header>